*{
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
}

body{
    background-color: #171717;
}

.row{
    display: flex;
    flex-direction: row;
}


.header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.nav{
    display: flex;
    align-items: center;
}

.nav__list{
    display: flex;
    list-style: none;
    gap: 40px;
}

.header__logo{
    color: white;
    font-size: 36px;
    font-weight: 700;
}

.nav__item a{
    color: white;
    font-size: 18px;
}

.nav__item a:hover{
    color: #27ae60;
    transition: all 0.3s;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.banner__left{
    display: flex;
    flex-direction: column;
}

.banner__heading{
    color: white;
    font-size: 48px;
    font-weight: 700;
}

.banner__job{
    margin: 20px 0;
    color: #828282;
    font-size: 18px;
    font-weight: 500;
}

.button{
    color: white;
    padding: 12px 24px;
    cursor: pointer;
}

.button--primary{
    background-color: #27ae60;
    border: none;
    transition: all 0.3s;
}

.button--primary:hover{
    background-color: #3bcd78;
}

.button--secondary{
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid #f2f2f2;
}

.button--secondary:hover{
    background-color: #383838;
    transition: all 0.3s;
}

.banner__right{
    width: 650px;
    height: 650px;
    border-radius: 50%;
    border: 1px solid rgba(191, 127, 127, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__img{
    width: 600px;
    height: 600px;
    border-radius: 50%;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section{
    margin-top: 100px;
}

.section__heading{
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-bottom: 60px;
    text-align: center;

}
.about__desc{
    margin-bottom: 40px;
    width: 745px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-align: center;

}

.about__list{
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.about__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__item div {
    width: 12px;
    height: 12px;
    background-color: #27ae60;
    border-radius: 50%;
    border: 25px solid #212121;
    box-sizing: content-box;
}

.about__item span{
    margin-top: 16px;
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.about__item p{

    font-size: 18px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.feature__list{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.feature__item{
    width: 360px;
    /* max-width: calc(( 100% - 200px) / 3); */
    padding: 40px 60px;
    background-color: #212121;

}

.feature__item p {
    font-size: 36px;
    font-weight: 500;
    color: #535353;
    margin-top: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feature__item--hightlight{
    border-bottom: 8px solid #27ae60;
}

.skill__list{
    display: flex;
    list-style: none;
    background-color: #212121;
    padding: 40px 0px;
}

.skill__item{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill__item span{
    font-weight: 700;
    font-size: 72px;
    color: #4f4f4f;
}

.skill__item p{
    font-weight: 700;
    font-size: 24px;
    color: #27ae60;
    text-transform: uppercase;
}

.contact{
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_input{
    background-color: #171717;
    border: none;
    font-weight: 700;
    font-size: 14px;
    border-bottom: 1px solid #4f4f4f;
    width: 358px; 
    padding-bottom: 8px;
    outline: none;
    color: #fff;
}

.contact__list{
    list-style: none;
    display: flex;
    width: 752px;
    column-gap: 36px;
    row-gap: 48px;
    flex-wrap: wrap;
}
.contact__textarea{
    width: 752px;
    padding: 12px;
    margin-top: 48px;
    margin-bottom: 32px;
    background-color: #171717;
    font-weight: 700;
    font-size: 14px;
    outline: none;
    color: #fff;
    border: 1px solid #4f4f4f ;
}

footer{
    margin-top: 100px;
    padding-bottom: 28px;
}

footer p{
    font-weight: 500;
    font-size: 14px;
    color: #4f4f4f;
    text-align: center;
}

.hamburger{
    width: 60px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger__item{
    width: 100px;
    height: 4px;
    background-color: white;
}

/* Desktop */
@media (min-width: 1024px) {
  .hamburger{
    display: none;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px){

  .container{
    padding: 0 40px;
  }

  .hamburger{
    display: none;
  }
  .banner__heading {
    font-size: 36px;
  }

  .banner__right{
    width: 320px;
    height: 320px;
  }

  .banner__img{
    width: 300px;
    height: 300px;
  }

  .feature__list{
    flex-direction: column;
  }

  .feature__item{
    width: 100%;
  }
  .skill__item span{
    font-size: 52px;
  }

  .skill__item p{
    font-size: 20px;
  }
}
/* mobile */
@media (max-width: 767px) {
    .container{
        padding: 0 20px;
      }
    .hamburger{
        display: flex;
      }
    .nav{
        display: none;
    }

    .banner__heading {
        font-size: 16px;
      }
    
    .banner__job{
        font-size: 12px;
    }

    .button{
        padding: 6px 8px;
    }

    .button--primary{
        font-size: 8px;
    }
    .banner__right{
    width: 172px;
    height: 172px;
    }

    .banner__img{
    width: 160px;
    height: 160px;
    }

    .about__desc{
        width: 376px;
        font-size: 12px;
    }

    .section__heading{
        font-size: 24px;
    }

    .about__list{
        flex-direction: column;
        gap: 28px;
    }
    .feature__list{
    flex-direction: column;
    }

    .feature__item{
    width: 100%;
    }

    .feature__item p{
        font-size: 28px;
    }
    .skill__item span{
    font-size: 32px;
    }

    .skill__item p{
    font-size: 16px;
    }

    .contact__list{
        width: 360px;
    }

    .contact__textarea{
        width: 360px;
    }
}